@inherits LayoutComponentBase

<head>
    <meta name="description" content="YasirSteel provides high-quality steel products and services for construction and industrial needs.">
    <meta name="keywords" content="steel, YasirSteel, construction, manufacturing, steel products">
    <script src="/js/site.js" defer></script>
    <title>YS</title>
</head>

<div class="page">
    <header class="main-header">
        <div class="container">
            <div class="header-content">
                <NavLink href="/" class="logo">YasirSteel</NavLink>
                <NavMenu />
            </div>
        </div>
    </header>

    <main>
        @Body
    </main>

    <Footer></Footer>
</div>
